@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
::after,
::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /*  default size is 16px but hame 10 px chaye. or % me taki web serponsive bne */
}

body{
  font-family: 'Poppins', sans-serif;
}